<div>
    <h4><%= item.ap.title %></h4>
    <div class="tabbable tabs-below">
        <% var rand = Math.floor(Math.random()*100000) %>
        <div class="tab-content">
            <div class="tab-pane ap-block center" id="lA<%=rand %>">
                <div id="myCarousel<%=rand %>" class="carousel slide">
                    <ol class="carousel-indicators">
                        <% _.each(item.images, function(image, index) { %>
                            <% if (index == 0) { %>
                                <li data-target="#myCarousel<%=rand %>" data-slide-to="<%= index %>" class="active"></li>
                            <% } else { %>
                                <li data-target="#myCarousel<%=rand %>" data-slide-to="<%= index %>" class=""></li>
                            <% } %>
                        <% }) %>
                    </ol>
                    <div class="carousel-inner">
                        <% _.each(item.images, function(image, index) { %>
                        <% if (index == 0) { %>
                        <div class="item active">
                            <% if (image.id == 0) { %>
                                <img class="ad_img" src="<%= image.name %>" alt="">
                            <% } else { %>
                                <img class="ad_img" src="<%= url + 'files/apartments/'+ item.ap.id + '/photos/' + image.name %>" alt="">
                            <% } %>
                        </div>
                        <% } else { %>
                        <div class="item">
                            <img class="ad_img" src="<%= url + 'files/apartments/'+ item.ap.id + '/photos/' + image.name %>" alt="">
                        </div>
                        <% } %>
                        <% }) %>
                    </div>
                    <a class="left carousel-control" href="#myCarousel<%=rand %>" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel<%=rand %>" data-slide="next">›</a>
                </div>
            </div>
            <div class="tab-pane active ap-block" id="lB<%=rand %>">
                <div class="justified" style="margin-left: 0px" >
                    <div>
                        <strong>Description:</strong>
                        <%= item.ap.descr %>
                    </div>
                    <div>
                        <strong>Address:</strong>
                        <%= item.ap.address %>
                    </div>
                    <div>
                        <strong>Rooms:</strong>
                        <%= item.ap.type_id %>
                    </div>
                    <div>
                        <strong>Cost:</strong>
                        <span class="label label-success">$<%= item.ap.cost %></span>
                    </div>
                </div>
            </div>
            <div class="tab-pane ap-block" id="lC<%=rand %>">
                <p><strong>Email</strong>: <%= item.email %> </p>
            </div>
            <div class="tab-pane ap-block" id="lD<%=rand %>">
                <div class="center">
                    <% if (item.fav.user_id != 0) { %>
                    <button class="btn btn-primary <%= item.fav.status ? 'disabled' : '' %>" id="favorite" onclick="javascript: map.add_to_favorite( < %= item.ap.id % > , this, < %= item.fav.user_id % > )" ><%= item.fav.status ? 'In Favorites' : 'Add to Favorites'%></button>
                    <% } else { %>
                    <button class="btn btn-danger disabled" id="favorite" >You should sign in to use favorites feature</button>
                    <% } %>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs" style="width: 360px">
            <li><a href="#lA<%=rand %>" data-toggle="tab">Photos</a></li>
            <li class="active"><a href="#lB<%=rand %>" data-toggle="tab">Details</a></li>
            <li><a href="#lC<%=rand %>" data-toggle="tab">Contact</a></li>
            <li><a href="#lD<%=rand %>" data-toggle="tab">Add to Favorites</a></li>
        </ul>
    </div>

</div>