<div class="row-side">
    <div class="row-fluid">
            <a class="pull-left" href="javascript: map.marker_click('<%= marker %>')">
                <% if (item.images[0].id == 0) { %>
                    <img class="media-object" style="width: 80px; height: 80px;" src="<%= item.images[0].name %>" alt="">
                <% } else { %>
                    <img class="media-object" style="width: 80px; height: 80px;" src="<%= url + 'files/apartments/'+ item.ap.id + '/photos/' + item.images[0].name %>" alt="">
                <% } %>
            </a>
        <div class="span8">
            <!--<h4 class="media-heading"><%= item.ap.title %></h4>-->
                <strong>$<%= item.ap.cost %></strong> | <%= item.ap.type_id %><br>
                <span><%= item.ap.address.substring(0,30) %>...</span><br>
                <span class="time"><%= item.ap.date %></span><br>
        </div>
    </div>
    <hr class="hr-very-thin">
</div>